<h1><div>Welcome to the WWYD To-Do List</div></h1>
<h2><div>A social To-Do List</h2></div></p>

<% @users.each do |user| %>
<div><%= link_to user.name, user %></div>
<% end %>

<h3><%= link_to "Create a new user", new_user_path %></h3>